body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.main {
  flex: 1;
}
.form__title {
  text-align: center;
  color: #1d2128;
  margin-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
}
label a {
  text-decoration: underline;
}
input[type="checkbox"] {
  background-color: aqua;
}
.footer {
  width: 100%;
}
.btn {
  width: 100px;
  margin-top: 20px;
}
button[type="reset"] {
  background-color: #aa1c41;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 8px;
  transition: all 0.4s ease;
}
button[type="reset"]:hover {
  background-color: #be1a1a;
  border: solid 2px #be1a1a;
}
button[type="submit"] {
  background-color: #233d4d;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 8px;
  transition: all 0.4s ease;
}
button[type="submit"]:hover {
  background-color: #0a2947;
  border: solid 2px #0a2947;
}
.form-button__group {
  display: flex;
  justify-content: space-around;
}
input:not([type="checkbox"]),
select {
  border: solid 2px #ccc;
  padding: 10px 15px;
  border-radius: 6px;
}
input:not([type="checkbox"]):hover,
select:hover {
  border: solid 2px darkblue;
}
input:not([type="checkbox"]):focus,
select:focus {
  outline: none;
  background-color: #eee;
  color: #303841;
}
input[type="checkbox"] {
  margin-top: 15px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid;
  background-color: transparent;
  vertical-align: bottom;
  border-radius: 50%;
}
input[type="checkbox"]:hover {
  background-color: #ddd;
}
input[type="checkbox"]:checked {
  background-color: #4382df;
}

@media (max-width: 768px) {
  .form-items {
    width: 250px;
  }
  main {
    padding: 1rem;
  }
}
